//Main theme's colors
$main-background:#3a4764;
$toggle-background:#232c43;
$screen-background: #182034;
$del-reset:#637097;
$del-reset-shadow:#404e72;
$toggle-equal-background:#d03f2f;
$keys-background:#eae3dc;
$keys-shadow:#b4a597;
$numbers-color:#444b5a;
$equal-shadow:#93261a;


//Second themese color
$main-background-2:#e6e6e6;
$toggle-background-2:#d1cccc;
$screen-background-2: #182034;
$del-reset-2:#377f86;
$del-reset-shadow-2:#1b5f65;
$toggle-equal-background-2:#ca5502;
$equal-shadow-2: #893901;
$keys-background-2:#e5e4e1;
$keys-shadow-2:#a69d91;
$numbers-color-2:#35352c;   