.header {
    display:flex;
    justify-content: space-between;
    align-items: end;
    color:#fff;
    padding:0 10px;
}

.title {
    font: {
        weight:700;
        size:1.8rem;
    }
}

.themes {
    display:flex;
    column-gap:30px;
    align-items: flex-end;
    
    & h2 {
        text-transform:uppercase;
        font-size:.9rem;
        padding-bottom:2px;
    }
}

.themes-switchers {
    display: flex;
    justify-content: space-around;
}

.toggle-switcher-container {
    padding:0 5px;
    width:75px;
    height:23px;
    border-radius:30px;
    background-color:$toggle-background;
    display:flex;
    align-items: center;

    & input[type="radio"]{
        display: none;
    }

    & .toggle-switcher {
        height:16px;
        width:16px;
        background-color:$toggle-equal-background;
        border-radius:50%;
        translate:0;
        transition: .25s linear;
    }

    & #theme-1:checked ~ .toggle-switcher {
        translate:0;
    }

    & #theme-2:checked ~ .toggle-switcher {
        translate:23px;
    }

    & #theme-3:checked ~ .toggle-switcher {
        translate:50px;
        background-color:#00e0d1;
    }
}