.screen {
    height:100px;
    background-color:$screen-background;
    border-radius:10px;
    font-size:2.6rem;
    color:#fff;
    padding-right:25px;
    display:flex;
    align-items: center;
    overflow:auto;
    direction:rtl;
}