@import 'resets';
@import 'colors';
@import 'container';
@import 'header';
@import 'app';
@import 'screen';
@import 'keys';

body {
    font-family: "League Spartan";
    font-weight:100;
}

//Second theme
.container-2 {
    background-color:$main-background-2;
}
.container-3 {
    background-color:$main-background-3;
}

.black-text {
    color:$numbers-color-2;
}

.yellow-text {
    color:$numbers-text-color-3;
}

.screen-2 {
    background-color: #f5f5f5;;
    color:$numbers-color-2;
}
.screen-3 {
    background-color: $toggle-screen-background-3;
    color:$numbers-text-color-3;
}